<div id="wrapper" class="wrapper">
	<header class="header">
		<h1>
			{{ title }}
		</h1>
	</header>
	<nav class="main-nav">
		<ul class="main-nav-list">
			<li class="main-nav-item">
				<a class="main-nav-link" href="history.html">
					History of Film
				</a>
			</li>
			<li class="main-nav-item">
				<a class="main-nav-link" href="index.html">Recommendations</a>
			</li>
			<li class="main-nav-item">
				<a class="main-nav-link" href="favorite.html">My Favorite Films</a>
			</li>
		</ul>
	</nav>
	<main>
		<form id="form1">
			<h3>
				Please Enter a: 
			</h3>
			<label for="genre">Genre:</label>
			<input type="text" name="genre" id="genre" required>
			<br>
			<p>AND</p>
			<label for="year">Year:</label>
			<input type="number" name="year" id="year" required>
			<br>
			<p>OR</p>
			<label for="minutes">Length of Film:</label>
			<input type="number" name="minutes" id="minutes" required>
			<br>
			<input type="submit" value="Submit" id="submit">
		</form>
		<div id="result">
			<h3>
				Recommendation: 
			</h3>
		</div>
	</main>
	<footer>
		<small>Copyright of Joey Schuenke 2017</small>
	</footer>
</div>

<script src="public/site.js"></script>